h1,
p {
    font-family: 'Roboto';
}

h2 {
    font-family: 'roboto';
    font-weight: 700;
}

.banner {
    border: 1px solid black;
    max-width: 900px;
    position: relative;
    height: 280px;
}

img {
    width: 100%;
}

.banner p {
    background: rgb(30, 22, 22);
    height: 40px;
    color: #fff;
    line-height: 40px;
    padding-left: 10px;
    position: absolute;
    bottom: -16px;
    width: 99%;

}
    some o banner da imgem(z-index: -1;)
